* {
	box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #e5e5e5;
    flex-direction: column;
}

.titulo {
    height: 150px;
    display: flex;
    justify-content: center;
}

.titulo h1 {
    margin: 52px 50px 58px 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: bold;
    color: #75b79e;
}

.tabuleiro {
    margin: 0 109px;
}

.carta {
    width: 117px;
    height: 146px;
    background-color: #a7e9af;
    border: 1px solid #99cea8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta img {
    width: 100px;
}