* {
	box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #eef9bf;
    flex-direction: column;
}

.titulo {
    height: 150px;
    display: flex;
    justify-content: center;
}

.titulo h1 {
    margin: 52px 50px 41px 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: bold;
    color: #75b79e;
}

.tabuleiro {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cena {
    width: 117px;
    height: 146px;
    background-color: #a7e9af;
    margin: 17px;
    border: 1px solid #99cea8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    perspective: 1000px;
}

.cena img {
    width: 100px;
}

.carta {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.virada .carta{
	transform: rotateY(180deg);
}

.frente, .verso{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.verso {
    transform: rotateY(180deg);
}

.desligado {
    pointer-events: none;
}

/*Todos os estilos serão feitos por aqui*/
@media (max-width: 736px) {
        
    .titulo h1 {
        font-size:36px;
    }
    
    .tabuleiro {
        flex-direction: column;
        align-items: center;
    }
    
    .carta {
        margin: 17px 0;
    }
}